.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(42, 42, 42, 0.787);
    z-index: 99999999999999;

    @include respond(phone) {
        background-color: transparent;
    }


    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 66.4rem;
        height: 64rem;
        padding: 2rem 5rem;
        border: .2rem solid $color-bg-green;
        background-color: rgb(41, 42, 44);

        @include respond(phone) {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 70.7rem !important;
            height: 100%;
            margin-top: 7.4rem;
            border-radius: 0;
            padding: 3rem;
        }



        &__header {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 2.6rem;
            font-weight: 400;

            @include respond(phone) {
                font-size: 1.6rem;
                color: white;
            }

            button {
                width: 50%;
                text-align: center;
                background-color: transparent;
                border: none;
                padding: 1.5rem 0;
                font-weight: 400;
                color: white;


                @include respond(phone) {
                    font-size: 1.6rem;
                    color: white;

                }
            }
        }

        &__form {
            .input-group {
                position: relative;
                margin-bottom: 2.2rem;
                height: 4.3rem;

                background-color: $color-text-dark !important;

                &:first-child {
                    margin-top: 1rem;

                }

                svg {
                    position: absolute;
                    cursor: pointer;
                    top: 20%;
                    right: 2%;
                    font-size: 3rem;

                    @include respond(phone) {
                        font-size: 2.5rem;
                    }

                    &:hover {
                        color: $color-bg-green-hover;
                    }
                }
            }

            input {
                width: 100%;
                padding: 1rem 2.2rem;
                font-size: 2rem;
                font-weight: 400;
                color: $color-bg-green;
                height: 100%;
                border: none;
                background-color: transparent;
                outline: none;


                @include respond(phone) {
                    font-size: 1.6rem;
                    height: 6rem;
                }

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                &:focus {
                    outline: .1rem solid $color-bg-green;
                }

                &::placeholder {
                    color: #b1b1b1;
                }
            }

            height: 50rem;

            .group-checkbox {
                margin: 1rem 0 3rem 0;

                .checkbox {
                    display: grid;
                    grid-template-columns: min-content auto;
                    grid-gap: 0.5em;
                    font-size: 2rem;
                    align-items: center;
                    color: $color-bg-green;
                }

                .checkbox__input {
                    display: grid;
                    grid-template-areas: "checkbox";

                    >* {
                        grid-area: checkbox;
                    }

                    input {
                        opacity: 0;
                        width: 1em;
                        height: 1em;


                        &:checked+.checkbox__control svg {
                            transform: scale(1);
                        }
                    }
                }

                .checkbox__control {
                    display: inline-grid;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 0.25em;
                    background-color: $color-text-dark;

                    svg {
                        transition: transform 0.1s ease-in 25ms;
                        transform: scale(0);
                        transform-origin: bottom left;
                    }
                }

                .radio__label {
                    color: $color-bg-white;
                }
            }

            button {
                width: 100%;
                height: 5.5rem;
                border: .3rem solid $color-bg-green;
                font-size: 2.2rem;
                background: transparent;
                color: $color-bg-green;
                margin-top: .7rem;

                @include respond(phone) {
                    font-size: 1.6rem;
                    height: 6rem;
                }

                &:hover {
                    color: white;
                    background-color: $color-bg-green-hover;
                    border: none;

                }

                &:disabled {
                    background-color: rgb(170, 170, 170);
                }
            }

            .form-info {
                margin-top: 1rem !important;
                font-size: 1.6rem;
                font-weight: 300;
                color: rgb(245, 245, 245);

                @include respond(phone) {
                    font-size: 1.4rem;
                }

                a {
                    cursor: pointer;
                    color: $color-bg-green-hover;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }

        .form-close {
            position: absolute;
            top: 4%;
            right: 3%;
            font-size: .5rem;
            border: none;
            outline: none;
            background-color: transparent;

            svg {
                color: white !important;
                filter: brightness(0) invert(1);
                width: 2rem !important;

            }

            @include respond(phone) {
                top: 1%;
                right: 2%;

                svg {
                    width: 1.5rem;
                }
            }
        }
    }


}


.auth-active {
    text-decoration: none;
    color: $color-bg-green !important;
    border-bottom: .1rem solid $color-bg-green !important;

    @include respond(phone) {
        color: $color-bg-green !important;

    }
}

//Error message
.error-message {
    position: absolute;
    bottom: -36%;
    left: 0.5%;
    font-size: 1.2rem;
    color: yellow;
}

.error-userterms {
    position: absolute;
    bottom: 20.5%;
    left: 8.5%;
    font-size: 1.4rem;
    color: yellow;
}

.error-border {
    input {
        border: .1rem solid red;
    }
}


.error-message_chekout {
    position: absolute;
    bottom: -20%;
    left: 1%;
    font-size: 1.4rem;
    color: yellow;
    text-transform: lowercase;
}

.success-checkbox {
    border: .1rem solid $color-bg-green-hover;

}

.success-border {
    input {
        border: .1rem solid $color-bg-green;
    }
}

.form_height {
    padding-top: 13.1rem;
    height: 54.5rem;
    z-index: 120;

    button {
        top: 3%;

    }
}