.news-content {
    width: 120rem;
    margin: 0 auto;
    margin-top: 3rem;
    text-transform: lowercase !important;

    @include respond(phone) {
        width: 95% !important;
    }

    &__trend {
        width: 100%;
        height: 56.8rem;
        position: relative;
        // box-shadow: 0 .1rem 1rem .5rem rgba(255, 255, 255, 0.151);
        cursor: pointer;

        &:hover img {
            transform: scale(1.1);
        }

        @include respond(phone) {
            height: 21.8rem;
        }

        &__image {
            height: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        &__info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(3, 3, 3, 0.308) 50%, #000000d2 80%);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 3rem;
            color: #ffffff;

            @include respond(phone) {
                padding: 1.8rem 2rem;
            }

            h1 {
                font-size: 3rem;
                font-weight: bold;
                color: #bdfa2b;

                @include respond(phone) {
                    font-size: 1.8rem;
                }
            }

            p {
                font-size: 1.8rem;
                @include respond(phone) {
                    font-size: 1.6rem;
                }
            }
        }

    }

    &__last {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 3rem;

        @include respond(phone) {
            justify-content: center;

        }

        &__card {
            width: 58.5rem;
            height: 38rem;
            position: relative;
            // box-shadow: 0 .1rem .5rem .5rem rgba(255, 255, 255, 0.041);
            margin-bottom: 3rem;
            cursor: pointer;

            @include respond(phone) {
                width: 100%;
            height: 21.8rem;

            }

            &:hover img {
                transform: scale(1.1);
            }

            &__info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(rgba(3, 3, 3, 0.308) 50%, #000000d2 80%);
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 3rem;
                color: white;

                @include respond(phone) {
                    padding: 1rem 2rem;

                }
            }
            &__image{
                height: 100%;
                overflow: hidden;
            }
            h1 {
                color: #bdfa2b;

                @include respond(phone) {
                    width: 100%;
                    font-size: 1.6rem;
                }
            }

            p{
                font-size: 1.8rem;
                @include respond(phone) {
                    font-size: 1.5rem;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

              

              
            }
        }
    }


    //Profile Page
}