* {
    transition: all .3s; 
    box-sizing: border-box;
}

h1,p{
    margin: 0 !important;
    padding: 0 !important;
}

html {
    font-size: 62.5%; //1rem = 10px


}

body {
    background-image:url("../../img/icons\ _\ graphics/Asset 1.png")
    ,url("../../img/icons\ _\ graphics/Asset 2.png"),linear-gradient($color-black 65%,$color-black 20% ) ;
    background-repeat: repeat-y, repeat-y;
    background-position: left,right;
    font-family: $fontPopipns;
}


//Scroll bar
::-webkit-scrollbar {
    width: .5rem;
    @include respond(phone){
        display: none;
    }
}

::-webkit-scrollbar-track {
    background:rgb(255, 255, 255);
    ;

    @include respond(phone){
        display: none;
    }
}

::-webkit-scrollbar-thumb {
    background: $color-bg-green;
    @include respond(phone){
        display: none;
    }
}

::-webkit-scrollbar-thumb:hover {
    background: $color-bg-green;
    @include respond(phone){
        display: none;
    }

}