.header-desktop{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background-color: $color-text-dark;
  
  

    img{
        width: 20rem;
    }
    &__content{
        display: flex;
        align-items: center;
        width: 120rem;
        height: 100%;

        @include respond(phone){
            width: 60rem;
            // background: red;
        }

        &__logo{
            width: 25%;
            cursor: pointer;
            z-index: 5;

            &:hover{
                transform: scale(1.03);
            }
            img{
                width: 17rem;
            }
        }

        &__navbar{
            width: 50%;
            display: flex;
            font-size: 1.8rem;
            font-weight: bold;
            height: 100%;
            z-index: 5;
            @include respond(phone){
                display: none;
            }
            ul{
                width: 100%;
                display: flex;
                color:$color-bg-white;
                letter-spacing: .15rem;
                align-items: flex-end;
                padding-bottom: .8rem;
                justify-content: space-evenly;

                li{
                    cursor: pointer;
font-weight: 400;

                    &:hover{
                        color: $color-bg-green;
                    }
                }
            }
            .active{
                color: $color-bg-green;
                border-bottom: .1rem solid $color-bg-green;
            }
        }

        &__user{
            display: flex;
            justify-content: flex-end;
            width: 25%;
            color: $color-bg-white;
            cursor: pointer;
            &__btn{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 1.4rem;
                margin-left: 1.3rem;
                position: relative;
                .userimage{
                    display: flex;
                    box-shadow: 0 .1rem .4rem .3rem rgba(61, 61, 61, 0.281);
                    align-items: center;
                    justify-content: center;
                    text-shadow: 0 .1rem .4rem .3rem rgba(95, 94, 94, 0.582) ;
                    width:4rem;
                    height: 4rem;
                    font-weight: 400;
                    font-size: 1.6rem;
                    letter-spacing: .1rem;
                    margin-right: .7rem;
                    border-radius: 50%;
                    background-color: rgb(218, 201, 157);
                }

                button{
                    width: auto;
                    height: 3.5rem;
                    padding: 0 1rem !important;
                    color: $color-bg-green;
                    letter-spacing: .1rem;
                    background-color: transparent;
                    border: .1rem solid $color-bg-green;
                    &:hover{
                    background-color: $color-bg-green;
                    color: rgb(37, 37, 37);
                    }
                }

                .user-drop-show{
                    top: 120% !important;
                    opacity: 1 !important; 
                    z-index: 1 !important;
                }
                .user-drop{
                    position: absolute;
                    width: 18rem;
                    height: 17rem;
                    color:$color-bg-green;
                    top: 30%;
                    opacity: 0;
                    font-size: 1.7rem;
                    letter-spacing: .1rem;
                    left: 0;
                    padding: 1rem;
                    z-index: -9;
                    background: rgb(63, 63, 63);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    ul{
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        align-items: center;
                        width: 95%;
                        padding: 0;
                    }
                    li{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: .5 0;
                        height: 3rem;
                        margin-top: 1rem;
                        border-bottom: .1rem solid rgba(255, 235, 205, 0.199);
                    }
                    i{
                        margin-right: .8rem;
                    }
                    svg{
                    color:$color-bg-green;

                    }
                }
            }
        }

      
    }
}

//User Drop

