//Unitly
.active-link{
    border-bottom: .2rem solid $color-bg-red;
}
.f-size{
    font-size: 1.6rem !important;
    z-index: 9999999999999999999999999999 !important;
}

.bg-success-1{
    background-color: $color-bg-green-hover !important;
    color: black !important;
}