//Color
$color-text-dark:#232526;
$color-black:#17191a;
$color-black-grey:#393b3c;
$color-text-dark-hover:#17191a;
$color-bg-white:#e4e6eb;
$color-bg-red:rgb(239,0,0);
$color-bg-green:#baff29;
$color-bg-green-hover:#a3dd24;





//Font
$fontPopipns:'Open Sans', sans-serif;
$fontCrimson:'Crimson Text', serif;


