//Color
$color-text-dark:#2B3043;
$color-black:rgb(17,18,20);
$color-text-dark-hover:#443838;
$color-bg-white:#F6F5FB;
$color-bg-red:rgb(239,0,0);




//Font
$fontPopipns:'Poppins', sans-serif;
$fontCrimson:'Crimson Text', serif;


